
<h2 mat-dialog-title>{{resultado.patientName}}</h2>
<mat-dialog-content>
  
<table width="80%" border=1>
<tr><td><h2>Flexión Extensión</h2>
  <table>
    <tr><td>Flexión:</td><td><input type="text" [formControl]="FLEX_F" disabled></td><td>{{eval[1]}}</td></tr>
    <tr><td>Extensión:</td><td><input type="text" [formControl]="FLEX_E" disabled></td><td>{{eval[2]}}</td></tr>
    <tr><td>Total:</td><td><input type="text" [formControl]="FLEX" disabled></td><td>{{eval[3]}}</td></tr>
  </table>
</td>
<td><h2>Rotación</h2>
  <table>
    <tr><td>Izquierda:</td><td><input type="text" [formControl]="ROT_L" disabled></td><td>{{eval[1]}}</td></tr>
    <tr><td>Derecha:</td><td><input type="text" [formControl]="ROT_R" disabled></td><td>{{eval[2]}}</td></tr>
    <tr><td>Total:</td><td><input type="text" [formControl]="ROT" disabled></td><td>{{eval[3]}}</td></tr>
  </table>
</td>
<td><h2>Flexión Lateral</h2>
  <table>
    <tr><td>Izquierda:</td><td><input type="text" [formControl]="LAT_L" disabled></td><td>{{eval[1]}}</td></tr>
    <tr><td>Derecha:</td><td><input type="text" [formControl]="LAT_R" disabled></td><td>{{eval[2]}}</td></tr>
    <tr><td>Total:</td><td><input type="text" [formControl]="LAT" disabled></td><td>{{eval[3]}}</td></tr>
  </table>
</td>


</tr>
</table>
<img mat-card-image src="{{caminografica}}" alt="Grafica">
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  
</mat-dialog-actions>

