<h2>Pacientes</h2>
<ul class="pacientes">
  <li *ngFor="let prueba of pruebasSelect">
    <a routerLink="/detail/{{prueba.name}}">
      <span class="badge">{{prueba.id}}</span> {{prueba.name}} {{prueba.description}} {{prueba.datetime}}  
    </a>
  </li>
</ul>


<div>
  <br>
    <div class="container">
        
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3 *ngFor="let paciente of pacienteSelect">Pruebas realizadas al paciente {{paciente.name}}</h3>
          </mat-card-title>
          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="dataSource">

                  
                    <ng-container matColumnDef="description">
                      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="datetime">
                      <mat-header-cell *matHeaderCellDef> Fecha y Hora </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.datetime}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="download">
                      <mat-header-cell *matHeaderCellDef [ngClass]="'anchoIcono'"></mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="'anchoIcono'">
                        <a (click)="download(element.id)" type="button">
                        <mat-icon class="icon">cloud_download</mat-icon>
                        </a>
                      </mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="view">
                      <mat-header-cell *matHeaderCellDef [ngClass]="'anchoIcono'"></mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="'anchoIcono'">
                        <a (click)="view(element.position)" type="button">
                        <mat-icon class="icon">visibility</mat-icon>
                        </a>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>