<h2>Pacientes</h2>
<ul class="pacientes">
  <li *ngFor="let prueba of pruebasSelect">
    <a routerLink="/detail/{{prueba.name}}">
      <span class="badge">{{prueba.id}}</span> {{prueba.name}} {{prueba.description}} {{prueba.datetime}}  
    </a>
  </li>
</ul>


<div class="container">
    <mat-table #table [dataSource]="pruebasSelect">
        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Code">
            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


<div>
  <br>
    <div class="container">
        
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Pruebas realizadas</h3>
          </mat-card-title>
          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="pruebasSelect">
                  <ng-container matColumnDef="datetime">
                    <mat-header-cell *matHeaderCellDef> Date Time </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.datetime}} </mat-cell>
                  </ng-container>
                    <ng-container matColumnDef="title">
                      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a (click)="deletePost(element.position)" type="button">
                        <mat-icon class="icon">delete</mat-icon>
                        </a>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>