<div style="text-align:center">
  <p><p><p><img src="https://ucotrack.es/iucotrack.png" alt="iUCOtrack Logo">
    
  <h1>iUCOTrack Results</h1>
  <p>
    Esta plataforma permite consultar y explotar los resultados obtenidos por el sistema UCOTrack.
    <br>
    <br> Pulse Login para comenzar
    <br>
    <br>
    <br> Si desea más información sobre como acceder al sistema, pongase en contacto con el administrador admin@ucotrack.es
  </p>
</div>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="ID">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.ID }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Code">
            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Code}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>